.container {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: var(--xs);
  color: var(--grey-900);
  display: flex;
  gap: var(--xs);
}

.required {
  color: var(--green-600);
}

.input {
  padding: var(--sm) var(--md);
  border-radius: 8px;
  border: 1px solid var(--grey-500);
  color: var(--grey-900);
}
