.container {
  display: flex;
  flex-direction: row-reverse;
  margin-top: var(--xl);
  align-items: center;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
}

.label {
  color: var(--grey-900);
  margin-left: var(--md);
  cursor: pointer;
}

.required {
  color: var(--green-600);
}

.input {
  border: none;
  background-color: transparent;
  opacity: 0;
  width: 18px;
  height: 18px;
  margin: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  border: 1px solid var(--grey-500);
  background-color: transparent;
  border-radius: 2px;
}

.input:checked + .checkmark {
  background-color: var(--green-600);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.input:checked + .checkmark:after {
  display: block;
}

.checkmark:after {
  left: 6px;
  top: 2px;
  width: 3px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
