.container {
  background-color: var(--green-200);
  min-height: 100svh;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
}

.form {
  background-color: white;
  border-radius: 16px;
  padding: 24px;
}

.header {
  font-size: 32px;
  letter-spacing: -1px;
  color: var(--grey-900);
  margin-bottom: var(--xl);
}

.textInputContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--md);
}

@media screen and (min-width: 600px) {
  .container {
    padding: var(--xxxl) var(--xl);
  }

  .form {
    max-width: 736px;
    margin: auto;
  }

  .nameInputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--sm);
  }

  .nameInputs :first-child {
    flex-grow: 1;
  }

  .nameInputs :last-child {
    flex-grow: 1;
  }

  .form {
    flex-grow: 0;
  }
}
