.container {
  background-color: var(--green-200);
  min-height: 100svh;
  padding: 32px 16px;
  display: flex;
  flex-direction: column;
}

.form {
  background-color: white;
  border-radius: 16px;
  flex-grow: 1;
  padding: 24px;
}

.header {
  font-size: 32px;
  letter-spacing: -1px;
  color: var(--grey-900);
  margin-bottom: var(--xl);
}

.textInputContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: var(--md);
}
